<div ng-include="'components/shell/shell.html'"></div>
<div class="content">
	<p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
    <div class="clear" style="clear:both;"></div>
    <div class="white-bg custom-data-table">
        <md-table-container ng-show="vm.users.length>0">
            <table md-table>
                <thead md-head>
                    <tr md-row>
                        <th md-column><span>#</span></th>
                        <th md-column md-numeric ><span>Name</span></th>
                        <th md-column md-numeric>Email</th>
                        <th md-column md-numeric></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="user in vm.users">
                        <td md-cell>
                            <span>
                            {{$index+1}}
                            </span>
                        </td>
                        <td md-cell>
                            <span>
                            <strong>{{user.name}}</strong>
                            </span>
                        </td>
                        <td md-cell>
                            <span>
                            <strong>{{user.email}}</strong>
                            </span>
                        </td>
                        <td md-cell>
                            <md-button ng-click="vm.delete(user)" class="trash">
                                <md-icon md-svg-src="assets/icons/ic_clear_black_18px.svg"></md-icon>
                                <md-tooltip md-visible="false" md-direction="top">
                                    Delete User
                                </md-tooltip>
                            </md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>
</div>