<md-content class="md-padding">
    <md-card class="login-card">
      <md-card-content>
        <h2 class="md-title">Login</h2>
        <p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@test.com</code> / <code>test</code></p>
        <p>Admin account is <code>admin@admin.com</code> / <code>admin</code></p>

        <form name="form" ng-submit="vm.login(form)" novalidate>
          <md-input-container>
            <label>Email</label>
            <input required type="email" name="email" ng-model="vm.user.email">
            <div ng-messages="form.email.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Password</label>
            <input required type="password" name="password" ng-model="vm.user.password">
            <div ng-messages="form.password.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <div layout="row">
            <md-button class="md-primary" type="submit">Login</md-button>
            <md-button flex type="submit" href="/signup">Register</md-button>
          </div>
        </form>
      </md-card-content>
    </md-card>
</md-content>


